.container {
    border: rgb(0, 0, 0) solid 2px;
    height: 600px;
    width: 600px;
    display: flex;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
}

.cell {
    border: rgb(0, 0, 0) solid 1px;
    flex: 1 auto;
}

